.wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    justify-content: center;
    max-width: 912px;
    margin: 0 auto;
}

.wrapper:first-of-type {
    margin-bottom: 12px;
}

.input {
    max-width: 204px;
}

.circles {
    max-width: 840px;
    width: max-content;
    margin: 120px auto 0 auto;
    display: flex;
    flex-direction: row;
    gap: 68px 16px;
    flex-wrap: wrap;
    align-items: center;
}

.circle_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 68px 16px;
}

.default {
    fill: var(--default-color);
}
  
.changing {
    fill: var(--changing-color);
}
  
.modified {
    fill: var(--modified-color);
}

