.control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 52px;
    align-items: center;
}

.radio {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}

.buttons {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
}

.button {
    margin-left: 28px;
}

.content {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    padding-bottom: 26px;
    align-items: flex-end;
}

.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.rectangle {
    min-width: 50px;
}

.number {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #3D3D3D;
}

.default {
    background-color: var(--default-color);
}
  
.changing {
    background-color: var(--changing-color);
}
  
.modified {
    background-color: var(--modified-color);
}